.root {
  position: relative;
  width: 85vw;
  margin: 100px  auto 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.root label {
  width: 88%;

}
.root label input {
  width: 100%;

}
.hidden {
  color: white;
}
.error {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  font-weight: bold;
}
.root ol {
  padding: 0;
  width: 100%;
}
.root ol  button {
  width: 100%;
  margin: 5px;
  background: #61dafb;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}
.root ol  button:hover {
  background: white;
  transition: all 0.3s;
}


